h1 {
  color: tomato;
}

.contenedor-flex {
  padding: 15px;
  background-color: #00ffff;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  background-color: lightsalmon;
  height: 40px;
  width: 22%;
}
