* {
  font-family: Arial, Helvetica, sans-serif;
}
#grid-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit);
}
.item {
  background-color: aquamarine;
  padding: 12px;
}
